.card__details {
  display: flex;
  justify-content: space-between;
}
.card__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
