.header {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.navbar {
  padding: 21px 40px 11px 24px;
  display: flex;
  align-items: center;
}

.logo {
  width: 180px;
  height: 49px;
  margin-right: 50px;
}

.navbar__menu {
  display: inline;
  margin-left: auto;
}

.nav__item {
  display: inline-block;
  position: relative;
}

.nav__link.active {
  color: #ffffff;
}

.nav__link.active::after,
.nav__link.hover::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #80c3ff;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #A1B1CB;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.input__container {
  width: 324px;
  height: 37px;
  background: #3B567D;
  border-radius: 18.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-right: auto;
  margin-left: auto;
}

.input__container input {
  font-family: 'Montserrat';
  outline: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #A2B3CD;
  background: transparent;
  border:none;
}

.input__container input::placeholder {
  text-transform: uppercase;
  color: #A2B3CD;
}

.input__container img {
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.profile__container {
  display: flex;
  align-items: center;
}

.profile__container img:not(:last-child) {
  margin-right: 41px;
}