.statistics__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.statistics__content {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 3rem 4rem;
  width: 500px;
  height: 550px;
}