.statistics__container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}

.statistics__content {
  background-color: floralwhite;
  color: black;
  border-radius: 10px;
  padding: 3rem 4rem;
  width: 500px;
  height: 550px;
}