.movie-image {
  background-position: top;
  background-repeat: no-repeat;
  background-color: black;
}

.background-gradient {
  background: linear-gradient(90deg, #000000 17.76%, rgba(0, 0, 0, 0.687449) 41.44%, rgba(196, 196, 196, 0) 100%) repeat;
}
