.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 32px;
  background: linear-gradient(
    90.53deg,
    rgba(0, 0, 0, 0.75) 0.45%,
    rgba(102, 80, 165, 0.75) 105.51%
  );
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
}
.navbar__logo {
  font-family: 'Griffy';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #ffc907;
  margin-right: 60px;
  display: flex;
  align-items: center;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar__item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #a1b1cb;
}
.navbar__item:hover {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.navbar__search {
  width: 324px;
  height: 37px;
  left: 821px;
  top: 29px;
  background: #3b567d;
  border-radius: 18.5px;
  display: flex;
  justify-content: space-between;
  padding: 7px 18px;
  margin-right: 56px;
}
.input__search::placeholder {
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #a2b3cd;
}
.user__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
