* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
button {
  font: inherit;
}

p {
  font-size: 0.875rem;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
  background: linear-gradient(
      90deg,
      #000000 17.76%,
      rgba(0, 0, 0, 0.687449) 41.44%,
      rgba(196, 196, 196, 0) 100%
    ),
    url('../assets/watch/bg-watch.png');
  background-size: cover;
}
