.sidebar {
  position: fixed;
  left: -32px;
  top: 125px;
  width: 117px;
  background: linear-gradient(
    2.87deg,
    #130b29 9.89%,
    #5436a9 100%,
    #5e47a1 100%
  );
  border-radius: 26px;
  padding: 39px 29px 39px 58px;
}
.sidebar__content {
  display: flex;
  align-items: center;
  gap: 36px;
  flex-direction: column;
}
