<div class="center" *ngIf="moviesLoading">
  <p class="info">Loading...</p>
</div>
<div class="center" *ngIf="!moviesLoading && movies.length === 0">
  <p class="info">No such movies</p>
</div>
<div class="movie-cards" *ngIf="!moviesLoading">
  <app-movie-card
    *ngFor="let movie of movies | slice:0:moviesPage"
    [movie]="movie"
  ></app-movie-card>
</div>
<div class="show-buttons">
  <app-medium-button
    *ngIf="moviesPage < movies.length && movies.length > 0"
    [text]="'Show More'"
    [icon]="'down-vector.png'"
    [bgColor]="'#5E47A1'"
    (show)="moviesPageHandle($event)"
  ></app-medium-button>
  <app-medium-button
    *ngIf="moviesPage >= 12 && movies.length > 0"
    [text]="'Show Less'"
    [icon]="'up-vector.png'"
    [bgColor]="'#E43109'"
    (show)="moviesPageHandle($event)"
  ></app-medium-button>
</div>
