.row__container {
  margin: 1rem 0 2rem 4rem;
  background: rgba(11, 15, 22, 0.47);
  box-shadow: 8px -8px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 1.5rem 0 1.5rem 1.5rem;
  position: absolute;
  top: -14vw;
  z-index: 5;
  overflow-x: hidden;
  max-width: 98.3%;
}

.row__container_title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 160px;
  border-radius: 0.5rem;
}

@media (min-width: 640px) {
  .row {
    gap: 4px;
    max-width: 170px;
  }

  .row__container {
    margin: 1rem 0 2rem 2rem;
  }
}

@media (max-width: 480px) {
  .row {
    gap: 3px;
  }

  .row__container {
    margin: 1rem 0 2rem .85rem;
  }

  .row {
    max-width: 100px; 
  }
}