.card {
  width: 110px;
  height: 173px;
}

.actor-image {
  width: 110px;
  height: 145px;
  border: 1px solid #FFFFFF;
  border-radius: 9px;
}

.actor-name {
  margin-top: 8px;
  margin-bottom: 2px;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.truncate-long-texts {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actor-character {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #A9A9A9;
}
